.products--grid, p {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.product-detail{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #024B9A;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform:  translateX(100%);
  transition: all ease-out 0.5s;
  &.active{
      transform:  translateX(0);
  }
  img{
    width: 100%;
  }
  h1{
    color: #B4D7FD;
    font-weight: 100;
  }
}
//tablets
@media screen and (min-width: 40em) and (max-width: 63.9em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }
}



//web desk
@media screen and (min-width: 64em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}
