<div class="pokemon-list">
    <div *ngFor="let pokemonimp of pokemons" class="pokemon-item">
        <img [src]="pokemonimp.image" alt="{{ pokemonimp.name }}" class="pokemon-image">
        <div class="id-general">
            <h2 class="pokemon-id">{{ pokemonimp.id }}.</h2>
            <p class="pokemon-name">{{ pokemonimp.name }}</p>
        </div>
        <button (click)="pokeDetail(pokemonimp)">Ver Poke detalle</button>
        <button (click)="agregarAFavoritos(pokemonimp)">Agregar a Favoritos</button>
    </div>
</div>
<div *ngIf="pokemonState" class="pokemon-detail" [class.pokedetail-active]="pokemonState">
    <div class="detail-content">
        <span class="close-button" (click)="togglePokeState()">X</span>
        <h1>Nombre: {{pokemon?.name}}</h1>
        <h2>Numero de movimientos: {{pokemon?.moves?.length}}</h2>
        <h2>Pesa: {{pokemon?.weight}}Lb</h2>
        <h2>Estatura: {{pokemon?.height}}cm </h2>
        <h2 *ngFor="let tipos of pokemon?.types">Tipo de pokemon: {{tipos.type.name}}</h2>
        <img *ngIf="pokemon" [src]="pokemon.sprites.other.dream_world.front_default" alt="">
    </div>
</div>
