.box{
    height: 200px;
    width: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orchid;
    background-color: black;
    overflow-y: auto;

}

.iconos{
    display: flex;
    padding: 10%;
}