/* Formulario Javi
//Formulario
$primary-color: #3498db;
$border-color: #ccc;

h1 {
    top: 10%;
    text-align: center;
    background-color: #3498db;
    font-style: italic;
    border-radius: 5px;
}
.contenedorP {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-style: Georgia, 'Times New Roman', Times, serif;
  top: 0px;
  form {
    border: 1px solid $border-color;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    background-color: bisque;
    top: 0px;
  
    h1 {
      text-align: center;
      margin-bottom: 0px;
    }

    .input-group {
      margin-bottom: 20px;

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }

      input {
        width: 80%;
        padding: 10px;
        border: 1px solid $border-color;
        border-radius: 5px;
      }

      p {
        margin: 5px 0;
        color: red;
        font-size: 12px;
      }
    }

    button {
      display: block;
      margin: 0 auto;
      padding: 10px 20px;
      background-color: $primary-color;
      border: none;
      border-radius: 5px;
      color: white;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: darken($primary-color, 10%);
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
}
*/
/* Anterior estilización
.line-error{
    height: 0;
    border-bottom: 1px solid;
    &.valid{
        border-color: blue;
    }
    &.invalid{
        border-color: green;
    }
}


// Estilos para el contenedor principal
.bodyWeb{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
    margin: 0 auto;
  }
  
  // Estilos para el contenedor de productos
  .product-container {
    flex: 1 0 21%; // Flex-grow: 1, Flex-shrink: 0, Flex-basis: 21%
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  
    // Estilos para los títulos y el precio
    h2, h3 {
      margin: 0;
    }
  }
  
  // Estilos para la imagen
  .product-container img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .inputError{
    color: antiquewhite;
    background-color: black;
    width: 30%;
    transition: all linear 1s;
  }
  // Efecto de aumento en hover
  .product-container:hover {
    transform: scale(1.05);
  }
  div{
    display: flex;
    flex-wrap: wrap;
  }
  */